// ----------------------------------------------
// Position Style
// ----------------------------------------------
.z-index-5 {
    z-index: 5 !important;
}

// ----------------------------------------------
// Text  Style
// ----------------------------------------------
.text-body-color {
    color: var(--bs-body-color-rgb);
}

.title-part-padding {
    padding: 15px 30px;
}

.text-bg-primary {
    background-color: #1d9371 !important;
}

.text-primary {
    color: #1d9371 !important;
}
