{% extends 'partials/base.html' %}

{% load static %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card w-100 position-relative overflow-hidden">
      <div class="px-4 py-3 border-bottom">
        <h4 class="card-title mb-0">Histórico</h4>
      </div>
      <div class="card-body p-4">
        <form method="get" class="d-flex mb-3">
          {% csrf_token %}
          <input type="text" name="q" class="form-control me-3" placeholder="Busca por ID, Setor ou Paciente"
            value="{{ request.GET.q }}" />
          <button type="submit" class="btn btn-primary">
            <i class="ti ti-search"></i>
          </button>
        </form>
        {% if historico %}
        {% include "historico/tabela_historico.html" %}
        {% else %}
        <p class="mb-0 text-center">Não há nenhum registro.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
