{% load l10n %}
<table id="tabela" class="table text-nowrap my-3 align-middle table-responsive border rounded-3">
  <thead class="text-dark fs-4">
    <tr>
      <th>
        <h6 class="fs-4 fw-semibold mb-0">Nome</h6>
      </th>
      <th>
        <h6 class="fs-4 fw-semibold mb-0">Cor</h6>
      </th>
      <th>
        <h6 class="fs-4 fw-semibold mb-0">
          Participação
        </h6>
      </th>
      <th class="d-md-table-cell d-none"></th>
    </tr>
  </thead>
  <tbody id="{{ caminho }}">
    {% for b in basicos %}
    <tr>
      <td>
        <h6 class="mb-0">{{ b.nome }}</h6>
      </td>
      <td><span class="badge d-inline-flex align-items-center gap-1"
          style="background-color: {{ b.cor }};">&nbsp;</span></td>
      <td>
        <div class="d-flex align-items-center gap-3">
          <div class="progress text-bg-light w-100 h-4">
            <div class="progress-bar" style="width: {{ b.participacao_formatada }}%;" role="progressbar"
              aria-label="Example 4px high" aria-valuenow={{ b.participacao_formatada }} aria-valuemin="0"
              aria-valuemax="100">
            </div>
          </div>
          <span class="d-md-block d-none fw-normal">{{ b.participacao|floatformat:2|localize }}%</span>
        </div>
      </td>
      <td class="d-md-table-cell d-none text-end">
        <div class="d-flex gap-3 align-items-center justify-content-end">
          <a class="text-primary" style="max-height: 20px;" href="{{ caminho }}{{ b.id}}/editar">
            <i class="fs-6 ti ti-edit"></i>
          </a>
          <form action="{{ caminho }}{{ b.id}}/excluir" method="POST">
            {% csrf_token %}
            <button class="p-0 text-danger" type="submit"
              style="cursor: pointer; background: none; border: none; outline: none;">
              <i class="fs-6 ti ti-trash"></i>
            </button>
          </form>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="d-flex justify-content-end pagination">
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mb-0">

      <!-- First Page -->
      {% if basicos.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="Primeira Página">
          <i class="ti ti-chevrons-left ti-xs"></i>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ basicos.previous_page_number }}" aria-label="Página Anterior">
          <i class="ti ti-chevron-left ti-xs"></i>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link">
          <i class="ti ti-chevrons-left ti-xs"></i>
        </span>
      </li>
      <li class="page-item disabled">
        <span class="page-link">
          <i class="ti ti-chevron-left ti-xs"></i>
        </span>
      </li>
      {% endif %}

      <!-- Current Page Display -->
      <li class="page-item disabled">
        <span class="page-link">
          Página {{ basicos.number }} de {{ basicos.paginator.num_pages }}
        </span>
      </li>

      <!-- Next Page -->
      {% if basicos.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ basicos.next_page_number }}" aria-label="Pŕoxima Página">
          <i class="ti ti-chevron-right ti-xs"></i>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ basicos.paginator.num_pages }}" aria-label="Última Página">
          <i class="ti ti-chevrons-right ti-xs"></i>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link">
          <i class="ti ti-chevron-right ti-xs"></i>
        </span>
      </li>
      <li class="page-item disabled">
        <span class="page-link">
          <i class="ti ti-chevrons-right ti-xs"></i>
        </span>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
