{% extends 'partials/base.html' %}

{% load static %}
{% load custom_filters %}

{% block content %}
<div class="col-12">
  <a style="margin-bottom: var(--bs-gutter-x);" class="fs-5 d-flex align-items-center gap-2" href="/gestao/saidas/"
    target="_self">
    <i class="ti ti-arrow-left fs-5"></i>
    <span>Voltar</span>
  </a>
</div>
<div class="card">
  <div class="card-header text-bg-primary">
    <h5 class="mb-0 text-white">Saída</h5>
  </div>
  <div class="form-body">
    <div class="card-body">
      <h5 class="card-title mb-0">Dados</h5>
    </div>
    <hr class="m-0" />
    <div class="card-body">
      <div class="d-flex gap-5">
        <div class="d-flex flex-column gap-3">
          <div class="d-flex gap-3">
            <span class="fw-semibold text-dark">Data e Hora:</span>
            <span>{{ saida.data }}</span>
          </div>
          <div class="d-flex gap-3">
            <span class="fw-semibold text-dark">Paciente:</span>
            <a class="text-white" href="/gestao/pacientes/{{ saida.paciente.id }}" target="_self">
              <span class="badge text-bg-primary d-inline-flex align-items-center gap-1 fw-bolder text-center">
                {{saida.paciente.nome}} <i class="fs-4 ti ti-user"></i>
              </span>
            </a>
          </div>
          <div class="d-flex gap-3">
            <span class="fw-semibold text-dark">Leito de Origem:</span>
            <a class="text-white" href="/gestao/leitos/{{ saida.leito_de_origem.id }}" target="_self">
              <span class="badge text-bg-primary d-inline-flex align-items-center gap-1 fw-bolder text-center">
                {{saida.leito_de_origem.id}} <i class="fs-4 ti ti-bed"></i>
              </span>
            </a>
            <span class="badge d-inline-flex align-items-center gap-1 fw-bolder text-center"
              style="background-color:  {{ saida.leito_de_origem.setor.cor }};">
              {{ saida.leito_de_origem.setor.nome }}
            </span>
          </div>
          <div class="d-flex gap-3">
            <span class="fw-semibold text-dark">Unidade de Saúde de Destino:</span>
            <span class="badge d-inline-flex align-items-center gap-1 fw-bolder text-center"
              style="background-color:  {{ saida.unidade_de_saude_de_destino.cor }};">
              {{ saida.unidade_de_saude_de_destino.nome }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if user|is_admin_or_higher %}
  <div class="form-actions border-top">
    <div class="card-body">
      <div class="row">
        <div class="d-flex gap-3 align-items-center justify-content-end">
          <a href="/gestao/saidas/{{ saida.id }}/editar"
            class="btn btn-primary d-flex align-items-center gap-1 fw-semibold">
            <i class="ti ti-edit fs-6"></i>
            Editar
          </a>
          <form action="/gestao/saidas/{{ saida.id }}/excluir" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger d-flex align-items-center gap-1 fw-semibold">
              <i class="ti ti-trash fs-6"></i>
              Remover
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
