{% extends 'partials/base.html' %}

{% load static %}
{% load custom_filters %}

{% block content %}
<div class="row">
  <div class="col-12">
    {% if user|is_admin_or_higher %}
    <div class="card d-md-flex d-none">
      <div class="card-body">
        <h4 class="card-title mb-3">Cadastrar Novo Leito</h4>
        <form class="d-flex flex-column gap-3" method="post" action={% url 'leitos' %}>
          {% csrf_token %}
          <div class="d-flex gap-3 align-items-center justify-content-between">
            <div class="form-group flex-grow-1">
              <select class="form-select mr-sm-2" id="setor" name="setor">
                <option selected disabled>Setor</option>
                {% for setor in setores %}
                <option value="{{ setor.id }}">{{ setor.nome }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group flex-grow-1">
              <select class="form-select mr-sm-2" id="especialidade" name="especialidade">
                <option selected disabled>Especialidade</option>
                {% for especialidade in especialidades %}
                <option value="{{ especialidade.id }}">{{ especialidade.nome }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="d-flex gap-3 align-items-center justify-content-between">
            <div class="form-group flex-grow-1">
              <select class="form-select mr-sm-2" id="tipo_de_leito" name="tipo_de_leito">
                <option selected disabled>Tipo de Leito</option>
                {% for tipo in tipos_de_leito %}
                <option value="{{ tipo.id }}">{{ tipo.nome }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group flex-grow-1">
              <select class="form-select mr-sm-2" id="status_de_leito" name="status_de_leito">
                <option selected disabled>Status de Leito</option>
                {% for status in status_de_leito %}
                <option value="{{ status.id }}">{{ status.nome }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="d-flex gap-3 align-items-center justify-content-between">
            <div class="d-flex gap-3 align-items-center justify-content-between flex-grow-1">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="tem_o2" name="tem_o2"
                  onchange="toggleInput('tem_o2', 'tipo_de_o2')" />
                <label class="form-check-label" for="tem_o2">O2</label>
              </div>
              <div class="form-group">
                <select class="form-select mr-sm-2" id="tipo_de_o2" name="tipo_de_o2" disabled>
                  <option selected disabled>Tipo de O2</option>
                  {% for tipo_o2 in tipos_de_o2 %}
                  <option value="{{ tipo_o2.id }}">{{ tipo_o2.nome }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="tem_vacuo" name="tem_vacuo"
                  onchange="toggleInput('tem_vacuo', 'tipo_de_vacuo')" />
                <label class="form-check-label" for="tem_vacuo">Vácuo</label>
              </div>
              <div class="form-group">
                <select class="form-select mr-sm-2" id="tipo_de_vacuo" name="tipo_de_vacuo" disabled>
                  <option selected disabled>Tipo de Vácuo</option>
                  {% for tipo_vacuo in tipos_de_vacuo %}
                  <option value="{{ tipo_vacuo.id }}">{{ tipo_vacuo.nome }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="tem_codigo_sus" name="tem_codigo_sus"
                  onchange="toggleInput('tem_codigo_sus', 'codigo_sus')" />
                <label class="form-check-label" for="tem_codigo_sus">SUS</label>
              </div>
              <div class="form-group flex-grow-1">
                <input type="text" class="form-control" id="codigo_sus" name="codigo_sus" placeholder="Código do SUS"
                  disabled />
              </div>
            </div>
            <button type="submit" style="width: fit-content;"
              class="btn btn-primary d-flex align-items-center justify-content-center">
              <i class="ti ti-plus fs-6"></i>
            </button>
          </div>
          {% if form.errors %}
          <div class="d-flex gap-3 align-items-center justify-content-between">
            <div class="alert alert-danger mb-0 text-danger fw-semibold w-100">
              <ul class="mb-0">
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
    {% endif %}
    <div class="card w-100 position-relative overflow-hidden">
      <div class="px-4 py-3 border-bottom">
        <h4 class="card-title mb-0">Leitos</h4>
      </div>
      <div class="card-body p-4">
        {% if leitos %}
        <form method="get" class="d-flex mb-3">
          {% csrf_token %}
          <input type="text" name="q" class="form-control me-3"
            placeholder="Busca por ID, Setor, Tipo, Status ou Código SUS" value="{{ request.GET.q }}" />
          <button type="submit" class="btn btn-primary">
            <i class="ti ti-search"></i>
          </button>
        </form>
        {% include "leitos/tabela_leitos.html" %}
        {% else %}
        <p class="mb-0 text-center">Não há nenhum registro.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
