{% load custom_filters %}
{% load l10n %}
<tr>
  <td class="flex-grow">
    {% if u.tipo_de_usuario.nome == 'Super Administrador' %}
    <h6 class="fw-semibold mb-0">{{ u.first_name }} (Super Administrador)</h6>
    {% elif u.tipo_de_usuario.nome == 'Administrador' %}
    <h6 class="fw-semibold mb-0">{{ u.first_name }} (Administrador)</h6>
    {% else %}
    <h6 class="fw-semibold mb-0">{{ u.first_name }}</h6>
    {% endif %}
  </td>
  <td class="flex-grow">
    <h6 class="fw-semibold mb-0">{{ u.username }}</h6>
  </td>
  <td class="flex-grow">
    <h6 class="fw-semibold mb-0">{{ u.email }}</h6>
  </td>
  <td>
    <span class="badge bg-success d-inline-flex align-items-center gap-1 fw-bolder text-center">Ativo</span>
  </td>
  <td>
    <div class="d-flex align-items-center gap-3">
      <div class="progress text-bg-light w-100 h-4">
        <div class="progress-bar" style="width: {{ u.participacao_formatada }}%;" role="progressbar"
          aria-label="Example 4px high" aria-valuenow={{ u.participacao_formatada }} aria-valuemin="0"
          aria-valuemax="100">
        </div>
      </div>
      <span class="d-md-block d-none fw-normal">{{ u.participacao|floatformat:2|localize }}%</span>
    </div>
  </td>
  {% if user|is_admin_or_higher %}
  {% if u|is_superadmin %}
  <td></td>
  {% else %}
  <td class="text-danger text-end">
    <div class="d-flex gap-3 align-items-center justify-content-end fs-6">
      <span class="text-warning">
        {% if u|is_admin %}
        <i style="cursor: pointer;" class="fs-6 ti ti-star-filled"></i>
        {% else %}
        <i style="cursor: pointer;" class="fs-6 ti ti-star"></i>
        {% endif %}
      </span>
      <span class="text-danger">
        <i style="cursor: pointer;" class="fs-6 ti ti-lock"></i>
      </span>
    </div>
  </td>
  {% endif %}
  {% endif %}
</tr>
