{% load static %}
<!DOCTYPE html>
<html lang="pt-BR" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical"
  data-boxed-layout="boxed" data-card="shadow">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/png" href="{% static 'images/logos/favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  <style>
    .form-label.required:after {
      content: " *";
      color: red;
    }
  </style>
  <title>{{ title }} - HGR Connect - Gestor de Leitos</title>

  {% block head_scripts %}{% endblock %}

  <script src="{% static 'libs/htmx/htmx.min.js' %}"></script>
  <script src="{% static 'libs/htmx/response-targets.js' %}"></script>
  <script src="{% static 'libs/htmx/remove-me.js' %}"></script>
  <script>
    function toggleInput(checkboxName, inputName) {
      const el = document.getElementById(inputName);
      if (document.getElementById(checkboxName).checked) {
        el.disabled = false;
      } else {
        el.disabled = true;
      }
    }
  </script>
  <script src="{% static 'js/vendor.min.js' %}"></script>
</head>

<body data-sidebartype="full">
  <!-- Preloader -->
  <div class="preloader">
    <img src="{% static 'images/logos/preloader.svg' %}" alt="loader" class="lds-ripple img-fluid" />
  </div>
  <div id="main-wrapper" hx-ext="response-targets, remove-me">
    <div aria-live="polite" aria-atomic="true" class="position-absolute vh-100 vw-100" style="pointer-events: none;">
      <div id="toasts" class="toast-container bottom-0 end-0 p-3"></div>
    </div>
    <!-- Sidebar Start -->
    <aside class="left-sidebar with-vertical">
      <div>
        {% include 'partials/sidebar.html' %}
      </div>
    </aside>
    <!-- Sidebar End -->
    <div class="page-wrapper">
      <!-- Header Start -->
      <header class="topbar">
        <div class="with-vertical">
          {% include 'partials/header.html' %}
        </div>
      </header>
      <!-- Header End -->
      <div class="body-wrapper">
        <div class="container-fluid">
          {% block content %}{% endblock %}
        </div>
        {% include 'partials/footer.html' %}
      </div>
    </div>
  </div>
  <div class="dark-transparent sidebartoggler"></div>
  <script src="{% static '/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/libs/simplebar/dist/simplebar.min.js' %}"></script>
  <script src="{% static '/js/theme/app.init.js' %}"></script>
  <script src="{% static '/js/theme/theme.js' %}"></script>
  <script src="{% static '/js/theme/app.min.js' %}"></script>
  <script src="{% static '/js/theme/sidebarmenu.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  <script>
    const forms = document.getElementsByTagName("form");

    for (const form of forms) {
      form.addEventListener("submit", (event) => {
        const submitButton = form.querySelector('button:last-of-type');

        submitButton.disabled = true;
        submitButton.innerHTML = `<img src="{% static 'images/logos/preloader_white.svg' %}" alt="loader" class="img-fluid" style="max-height: 1rem;" />`;
      });
    }
  </script>
  {% block foot_scripts %}{% endblock %}
  <!--<script src="/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="/js/dashboards/dashboard2.js"></script>-->
</body>

</html>
