{% include "partials/logo_sidebar.html" %}
<nav class="sidebar-nav scroll-sidebar" data-simplebar>
  <ul id="sidebarnav">
    <li class="nav-small-cap">
      <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
      <span class="hide-menu">Início</span>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/dashboard/" aria-expanded="false">
        <span>
          <i class="ti ti-layout-dashboard"></i>
        </span>
        <span class="hide-menu">Dashboard</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/setores/" aria-expanded="false">
        <span>
          <i class="ti ti-building"></i>
        </span>
        <span class="hide-menu">Setores</span>
      </a>
    </li>
    <li class="nav-small-cap">
      <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
      <span class="hide-menu">Gestão</span>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/gestao/pacientes/" aria-expanded="false">
        <span>
          <i class="ti ti-user"></i>
        </span>
        <span class="hide-menu">Pacientes</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/gestao/entradas/" aria-expanded="false">
        <span>
          <i class="ti ti-arrow-right"></i>
        </span>
        <span class="hide-menu">Entradas</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/gestao/transferencias/" aria-expanded="false">
        <span>
          <i class="ti ti-transfer"></i>
        </span>
        <span class="hide-menu">Transferências</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/gestao/saidas/" aria-expanded="false">
        <span>
          <i class="ti ti-arrow-left"></i>
        </span>
        <span class="hide-menu">Saídas</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/gestao/cirurgias/" aria-expanded="false">
        <span>
          <i class="ti ti-stethoscope"></i>
        </span>
        <span class="hide-menu">Cirurgias</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/gestao/leitos/" aria-expanded="false">
        <span>
          <i class="ti ti-bed"></i>
        </span>
        <span class="hide-menu">Leitos</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/gestao/setores/" aria-expanded="false">
        <span>
          <i class="ti ti-building"></i>
        </span>
        <span class="hide-menu">Setores</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/gestao/unidades-de-saude/" aria-expanded="false">
        <span>
          <i class="ti ti-building-hospital"></i>
        </span>
        <span class="hide-menu">Unidades de Saúde</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="{% url 'especialidades' %}" aria-expanded="false">
        <span>
          <i class="ti ti-test-pipe"></i>
        </span>
        <span class="hide-menu">Especialidades</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/gestao/tipos-de-saida/" aria-expanded="false">
        <span>
          <i class="ti ti-door-exit"></i>
        </span>
        <span class="hide-menu">Tipos de Saída</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/gestao/status-de-paciente/" aria-expanded="false">
        <span>
          <i class="ti ti-user-heart"></i>
        </span>
        <span class="hide-menu">Status de Paciente</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/gestao/status-de-leito/" aria-expanded="false">
        <span>
          <i class="ti ti-activity-heartbeat"></i>
        </span>
        <span class="hide-menu">Status de Leito</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/gestao/tipos-de-leito/" aria-expanded="false">
        <span>
          <i class="ti ti-emergency-bed"></i>
        </span>
        <span class="hide-menu">Tipos de Leito</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/gestao/tipos-de-o2/" aria-expanded="false">
        <span>
          <i class="ti ti-scuba-diving-tank"></i>
        </span>
        <span class="hide-menu">Tipos de O2</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/gestao/tipos-de-vacuo/" aria-expanded="false">
        <span>
          <i class="ti ti-medicine-syrup"></i>
        </span>
        <span class="hide-menu">Tipos de Vácuo</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/gestao/tipos-de-cirurgia/" aria-expanded="false">
        <span>
          <i class="ti ti-vaccine"></i>
        </span>
        <span class="hide-menu">Tipos de Cirurgia</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="{% url 'portas_de_entrada' %}" aria-expanded="false">
        <span>
          <i class="ti ti-door"></i>
        </span>
        <span class="hide-menu">Portas de Entrada</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="{% url 'medidas_de_precaucao' %}" aria-expanded="false">
        <span>
          <i class="ti ti-first-aid-kit"></i>
        </span>
        <span class="hide-menu">Medidas de Precaução</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="{% url 'nacionalidades_etnias' %}" aria-expanded="false">
        <span>
          <i class="ti ti-globe"></i>
        </span>
        <span class="hide-menu">Nacionalidades/Etnias</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/gestao/enfermeiros/" aria-expanded="false">
        <span>
          <i class="ti ti-nurse"></i>
        </span>
        <span class="hide-menu">Enfermeiros</span>
      </a>
    </li>
    <li class="nav-small-cap">
      <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
      <span class="hide-menu">Usuário</span>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/configuracoes/" aria-expanded="false">
        <span>
          <i class="ti ti-settings"></i>
        </span>
        <span class="hide-menu">Configurações</span>
      </a>
    </li>
    <li class="sidebar-item">
      <form class="sidebar-link" action="{% url 'sair' %}" method="post">
        {% csrf_token %}
        <button class="sidebar-link text-danger" type="submit"
          style="background: none; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit; width: 100%;">
          <span>
            <i class="ti ti-arrow-left"></i>
          </span>
          <span class="hide-menu">Sair</span>
        </button>
      </form>
    </li>
  </ul>
</nav>
