<table id="gwrapper" class="table text-nowrap my-3 align-middle table-responsive border rounded-1">
  <thead class="text-dark fs-4">
    <tr>
      <th>
        <h6 class="fs-4 fw-semibold mb-0">Data e Hora</h6>
      </th>
      <th>
        <h6 class="fs-4 fw-semibold mb-0">Paciente</h6>
      </th>
      <th>
        <h6 class="fs-4 fw-semibold mb-0">Leito</h6>
      </th>
      <th>
        <h6 class="fs-4 fw-semibold mb-0">Unidade de Saúde de Origem</h6>
      </th>
      <th class="d-md-table-cell d-none"></th>
    </tr>
  </thead>
  <tbody>
    {% for entrada in entradas %}
    <tr class="align-items-center">
      <td>
        <h6 class="mb-0">{{ entrada.data }}</h6>
      </td>
      <td>
        <h6 class="mb-0">{{ entrada.paciente.nome }}</h6>
      </td>
      <td>
        <h6 class="mb-0">{{ entrada.leito_de_destino.id }}</h6>
      </td>
      <td>
        <span class="badge d-inline-flex align-items-center gap-1 fw-bolder text-center"
          style="background-color:  {{ entrada.unidade_de_saude_de_origem.cor }};">
          {{ entrada.unidade_de_saude_de_origem.nome }}
        </span>
      </td>
      <td class="d-md-table-cell d-none text-end">
        <div class="d-flex gap-3 align-items-center justify-content-end">
          <a class="text-primary" href="/gestao/pacientes/{{ entrada.paciente.id }}" target="_self">
            <i class="fs-6 ti ti-user"></i>
          </a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="d-flex justify-content-end pagination">
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mb-0">

      <!-- First Page -->
      {% if entradas.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="Primeira Página">
          <i class="ti ti-chevrons-left ti-xs"></i>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ entradas.previous_page_number }}" aria-label="Página Anterior">
          <i class="ti ti-chevron-left ti-xs"></i>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link">
          <i class="ti ti-chevrons-left ti-xs"></i>
        </span>
      </li>
      <li class="page-item disabled">
        <span class="page-link">
          <i class="ti ti-chevron-left ti-xs"></i>
        </span>
      </li>
      {% endif %}

      <!-- Current Page Display -->
      <li class="page-item disabled">
        <span class="page-link">
          Página {{ entradas.number }} de {{ entradas.paginator.num_pages }}
        </span>
      </li>

      <!-- Next Page -->
      {% if entradas.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ entradas.next_page_number }}" aria-label="Pŕoxima Página">
          <i class="ti ti-chevron-right ti-xs"></i>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ entradas.paginator.num_pages }}" aria-label="Última Página">
          <i class="ti ti-chevrons-right ti-xs"></i>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link">
          <i class="ti ti-chevron-right ti-xs"></i>
        </span>
      </li>
      <li class="page-item disabled">
        <span class="page-link">
          <i class="ti ti-chevrons-right ti-xs"></i>
        </span>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
