{% extends 'layouts/edit_basic.html' %}
{% load static %}

{% block content %}
<div class="col-12">
  <a style="margin-bottom: var(--bs-gutter-x);" class="fs-5 d-flex align-items-center gap-2"
    href="{% url 'cirurgias' %}">
    <i class="ti ti-arrow-left fs-5"></i>
    <span>Voltar</span>
  </a>
</div>
<div class="col-12">
  <form class="card" action="/gestao/cirurgias/{{ cirurgia.id }}/editar" method="post">
    {% csrf_token %}
    <div class="card-body p-4 border-bottom d-flex flex-column align-items-end gap-4">
      <div class="d-flex gap-3 align-items-center justify-content-between w-100">
        <div class="form-group flex-grow-1">
          <select class="form-select mr-sm-2" id="paciente" name="paciente">
            <option value="{{ cirurgia.paciente.id }}" selected>{{ cirurgia.paciente.nome }}</option>
            {% for paciente in pacientes %}
            {% if paciente.id != cirurgia.paciente.id %}
            <option value="{{ paciente.id }}">{{ paciente.nome }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="form-group flex-grow-1">
          <select class="form-select mr-sm-2" id="setor" name="setor">
            <option value="{{ cirurgia.setor.id }}" selected>{{ cirurgia.setor.nome }}</option>
            {% for setor in setores %}
            {% if setor.id != cirurgia.setor.id %}
            <option value="{{ setor.id }}">{{ setor.nome }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="d-flex gap-3 align-items-center justify-content-between w-100">
        <div class="form-group flex-grow-1">
          <select class="form-select mr-sm-2" id="especialidade" name="especialidade">
            <option value="{{ cirurgia.especialidade.id }}" selected>{{ cirurgia.especialidade.nome }}</option>
            {% for especialidade in especialidades %}
            {% if especialidade.id != cirurgia.especialidade.id %}
            <option value="{{ especialidade.id }}">{{ especialidade.nome }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="form-group flex-grow-1">
          <select class="form-select mr-sm-2" id="tipo_de_cirurgia" name="tipo_de_cirurgia">
            <option value="{{ cirurgia.tipo_de_cirurgia.id }}" selected>{{ cirurgia.tipo_de_cirurgia.nome }}</option>
            {% for tipo_de_cirurgia in tipos_de_cirurgia %}
            {% if tipo_de_cirurgia.id != cirurgia.tipo_de_cirurgia.id %}
            <option value="{{ tipo_de_cirurgia.id }}">{{ tipo_de_cirurgia.nome }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="d-flex gap-3 align-items-center justify-content-between w-100">
        <div class="d-flex gap-3 align-items-center justify-content-between flex-grow-1">
          <div class="form-group flex-grow-1">
            {{ form.data }}
          </div>
          <div class="form-check">
            {{ form.concluida_com_sucesso }}
            <label for="{{ form.concluida_com_sucesso.id_for_label}}" class="form-check-label">Concluída com
              Sucesso</label>
          </div>
          <button type="submit" style="width: fit-content;"
            class="btn btn-primary d-flex align-items-center justify-content-center">
            <i class="ti ti-edit fs-6"></i> Editar
          </button>
        </div>
        {% if form.errors %}
        <div class="d-flex gap-3 align-items-center justify-content-between">
          <div class="alert alert-danger mb-0 text-danger fw-semibold w-100">
            <ul class="mb-0">
              {% for field, errors in form.errors.items %}
              {% for error in errors %}
              <li>{{ error }}</li>
              {% endfor %}
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
  </form>
</div>
{% endblock %}
